<div class="container">
    <div class="row">

        <!-- <div class="col-md-4">
            <img class="card-img-top"  src="images/bdlogo.png" style="width:80px; height: 80px;">
        </div> -->
    
        <div class="col-md-4">
            <img class="card-img-top"  src="<%= output.newspapers[0].logo %>" style="width:220px; height: 100px;"> 
            <h1><%= output.newspapers[0].newsPaperName %></h1>
        </div>
    
        <!-- <div class="col-md-4">
            <img src="images/ais.png" style="width:80px; height: 80px;">
        </div> -->
    
        <div class="text-center">
            <img class="img-fluid" id="test" src="<%= output.image %>" alt="">
        </div>
    </div>
</div>